/* 

*/ 

body{ 

		background:blue; 
		background-image: url('BackgroundPPA.jpg');
		margin: 0;
		
		
}

h1{
	text-align: center;
	text-shadow: 0 0 3px #FF0000;
	text-decoration: underline;
	font-size: 60px; 
	border-style: hidden;
	background-color:red;
	padding: 60px; 
	margin: 0;
	
	

	
}

.PPE{ 

	height: 100%;
	width: 150px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #FFFACD;
	overflow-x: hidden;
	padding-top:20px;
} 

.PPE a{ 
	padding: 60px 8px 6px 16px; 
	text-decoration: bold; 
	font-size: 20px;
	color: blue;
	display: block; 
  
} 


.PPA{ 

	text-align: left; 
	text-shadow: 2px 2px 4px #000000;
	color: orange; 
	text-decoration: underline; 
	
	
}





.green{ 

	position: static; 
	
	
}

.green2{ 
	position: static;

} 

.green3{ 
	position: static;

} 

	
#FA{ 
	color:white; 
} 

#FAA{
	color: white;
	
}

#FAAA{
	color: white;
	
}

