/*week 5 Froms CSS*/ 

body{ 
	background-color: #7FFFD4;

} 



#BBC{ 

		text-align:center; 
		color: white;
		text-decoration: bold;
		font-size: 45px; 
		text-decoration: underline; 
}

.container{ 
		background-color: #00FFFF; 
		float: center;
		border: solid; 
		
		

} 

.Beef{
	text-decoration: bold; 
	font-size: 35px;
	
} 

.Me{ 
	float: left; 
	padding-left: 5px;
	
}


.row{ 
		border:solid; 
		column-gap: 70px;
		
}


.w-100{ 
	border: solid; 
	
} 
/* breacking points for web page 900 and 600 px */
@media screen and (max-width: 900px){ 

body{ 
	background-color:orange; 
	text-align:
}


} 


	
/*WEB display ipads and tables*/ 

@media (min-width: 768px) and (max-width: 1024px){
	
	body{ 
	
		text-align: left; 
		column-gap: 120px
	}
	
	
		
  
  
  
}
/* WEB display for phones */
@media screen and (max-width:570px){ 
body{ 
	background-color: red; 
} 

.Me{ 
	visibility: hidden;
} 


}



